html, body {
    height: 100%;
    width: 100%;
    font-family: Quicksand, sans-serif;
    color: #222;
    margin: 0;
    padding: 0;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

#servicespart1, #servicespart2 {
    padding-top: 50px;
}

#logo {
    height: 60px;
}

.navbar {
    padding: .8rem;
}

.navbar-nav li {
    padding-right: 20px;
}

.nav-link {
    font-size: 1.1em !important;
}

.nav-item {
    transition: font-weight 5s frames(5);
}

.nav-item:hover {
    font-weight: bolder;
}

.carousel-inner img {
    width: 75%;
    height: 75%;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-caption h1 {
    font-size: 400%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px black;
}

.about {
    display: flex;
    position: absolute;
    color: #000;
    padding-bottom: 70%;
}

.about h1 {
    font-size: 350%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px black;
}

.btn-outline-light {
    font-size: 100%;
}

.carousel-caption h3 {
    font-size: 150%;
    font-weight: 500;
    text-shadow: 1px 1px 10px black;
    padding-bottom: 1rem;

}

.jumbotron {
    padding: 4rem;
    border-radius: 0;
    height: auto;
}

#jbheading {
    font-size: 60px;
    padding-bottom: 20px;
}

.lead {
    font-size: 30px;
}

.padding {
    padding-bottom: 2rem;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: transparent;
    color: #3f3f3f;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 1s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
    color: #3f3f3f;
}

.button:hover span:after {
    opacity: 1;
    right: 0;

}

.welcome {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}

.welcome hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}

.fab-code {
    color: #e54d26;
}

.fab-bold {
    color: #563d7c;
}

.fab-css3 {
    color: #2163af;
}

.fab-code, .fab-bold, .fab-css3 {
    font-size: 4em;
    margin: 1rem;
}

.social a {
    font-size: 4.5em;
    padding: 3rem;
}

.col-md-12 {
    padding-top: 30px;
}

.fa-instagram {
    color: white;
    font-size: 35px;
    padding-right: 20px;
    transition: color 1s ease;
}

.fa-youtube {
    color: white;
    font-size: 35px;
    padding-right: 20px;
    transition: color 1s ease;
}

.fa-snapchat-square {
    color: white;
    font-size: 35px;
    transition: color 1s ease;
}

.fa-instagram:hover {
    color: steelblue;
}

.fa-youtube:hover {
    color: red;
}

.fa-snapchat-square:hover {
    color: yellow;
}

footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

hr.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

#footerheading {
    font-size: 45px;
}

.card {
    width: auto;
}

.zoom {
    position: relative;
    overflow: hidden;
}

.zoom:hover img {
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.zoom img {
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

#ttgame {
    padding-top: 30px;
}

#name, #email, #message, #phnnumber, #country {
    border-color: deepskyblue;
}

#messagesent {
    padding: 10px;
    background: forestgreen;
    color: #fff;
    margin: 10px;
    display: none;
}

.fa-html5 {
    color: orangered;
    font-size: 50px;
}

.fa-css3-alt {
    color: dodgerblue;
    font-size: 50px;

}

.fa-js {
    color: darkorange;
    font-size: 50px;

}

.fa-python {
    color: green;
    font-size: 50px;

}

.fa-database {
    color: darkred;
    font-size: 50px;

}

.resume {
    background-color: #222222;
}

.talk1, .talk2, .talk3, .talk4{
    text-decoration: none;
    color: #222222;
}
.talk1:hover, .talk2:hover, .talk3:hover, .talk4:hover{
    color: #2163af;
    text-decoration: none;
    font-weight: bolder;
}